.about {
    background-image: url(img/bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    background-color: rgba(6, 141, 6, 0.907);
    height: 70vh;
    border-radius: 25px;
    box-shadow: inset 1px 1px 3px #fff,
        1px 1px 3px #fff;
    display: flex;
    align-items: center;
    width: 80%;
}

.info h1 {
    font-size: 24px;
    width: 80%;
    margin: auto;
    color: #fff;
    font-weight: 300;
    text-transform: capitalize;
}

@media only screen and (max-width:480px) {
    .info h1 {
        font-size: 16px;
    }
}