.contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact img {
    height: 25px;
}

.contact-box {
    background-color: rgba(61, 61, 61, 0.653);
    box-shadow: inset 1px 1px 3px #fff,
        inset -1px -1px 3px #fff;
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    /* gap: 15px; */
}

.contact-text {
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-links ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    margin-top: 10px;
}

.fill-form {
    width: 35%;
    background-color: #ffffff88;
    border-radius: 25px;
    box-shadow: inset 1px 1px 3px #fff,
        1px 1px 3px #fff;
}

.fill-form form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 5px;
    color: rgb(113, 113, 113);
    font-size: 14px;
    font-weight: 600;
}

.btn {
    width: 50%;
    padding: 15px 10px;
    margin: 15px auto;
    border: none;
    border-radius: 10px;
    color: rgb(113, 113, 113);
    font-size: 14px;
    font-weight: 600;
}

form label {
    margin-top: 5px;
}

.contact-take {
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.contact-text h1 {
    margin-bottom: 5px;
}

@media only screen and (max-width:480px) {
    .contact-box {
        flex-direction: column;
        height: 70%;
    }

    .contact-text {
        width: 80%;
        font-size: 14px;
    }

    .contact-text h1 {
        margin-bottom: 5px;
    }

    .fill-form {
        width: 80%;
        height: 60%;
        margin-bottom: 20px;
    }

    .fill-form form {
        padding: 1.5rem;
    }
}