.contact-box {
    background-color: rgba(103, 103, 103, 0.858);
    backdrop-filter: blur(5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    width: 55%;
    height: 60vh;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
}

.contact {
    height: 80%;
    /* width: 50%; */
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 15px;
}

.contact-text {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.contact-take {
    border-radius: 10px;
    border: 1px solid gray;
    outline: none;
    padding: 5px;
}

.btn {
    padding: 8px 15px;
    border-radius: 8px;
    border: none;background-color: rgb(67, 155, 13);
    margin-top: 10px;
}

/* .btn:hover {
    padding: 10px 18px;
} */

.social-links {
    margin-top: 15px;
    width: 40%;
}

.social-links ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
}

.social-links li {
    list-style: none;
}

.img {
    width: 25px;
    height: 25px;
}