.home {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    /* margin-top: 7vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
}

.home span {
    color: rgb(8, 172, 8);
    /* font-weight: 700; */
}

.home h1 {
    color: #fff;
    font-weight: 600;
    /* text-shadow: 1px 1px 5px #ffffff57; */
}

.box1 {
    width: 80%;
}

@media only screen and (max-width:480px) {
    .home h1 {
        font-size: 34px;
    }
}