.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 6vh;
}

.navbar ul {
    background-color: rgba(255, 255, 255, 0.142);
    backdrop-filter: blur(5px);
    box-shadow: inset 1px 1px 3px #ffffff;
        /* 1px 1px 1px #ffffff; */
    width: 80%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 15px;
    border-radius: 30px;
}

.navbar a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.797);
}