.carousel {
    width: 90%;
    margin: 0 auto;
    overflow-x: auto;
    display: flex;
    /* background-color: #e5e8df; */
    /* border-radius: 25px; */
    /* border: 5px solid red; */
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    animation: spin 25s infinite linear;
    padding-right: 2em;
}

.card {
    height: 80%;
    width: 50vw;
    font-size: 24px;
    margin: 0 auto;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-position: center;
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}