* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: raleway;
}

body {
    background-color: #fff;
}

/* hr {
    background-color: rgb(8, 172, 8);
    height: 2px;
} */

footer {
    height: 10vh;
    background-color: #fff;
    text-align: center;
}