* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #fff;
}

footer {
    height: 10vh;
    background-color: #fff;
    text-align: center;
}