.header {
    background-color: rgba(182, 182, 182, 0.1);
    display: flex;
    height: 44px;
    justify-content: space-between;
    padding: 0px 250px 0px 250px;
    align-items: center;
    font-size: 13px;
}

.banana-logo {
    width: 35px;
}

.banana-logo:hover {
    cursor: pointer;
}

.search-icon {
    height: 24px;
}

.cart-icon {
    height: 22px;
}